.vs
.vscode
.sconsign.dblite

demo/.godot
demo/.import
demo/android
demo/dist
demo/export_presets.cfg
demo/addons/godotopenxrvendors
demo/addons/godot_oculus_platform/android_plugin/*.aar
demo/addons/godot_oculus_platform/bin/*
!demo/addons/godot_oculus_platform/bin/*.gdextension
!demo/addons/godot_oculus_platform/bin/android
!demo/addons/godot_oculus_platform/bin/android/libs/
!demo/addons/godot_oculus_platform/bin/android/libs/arm64-v8a

src/**/*.o
src/**/*.os
src/**/*.obj
/compileAll.cmd
/vc140.pdb
